body {
margin: 0px;
max-width:100%;
}

.max {
max-width:1000px;
margin:0 auto;
}

.center{
margin: auto;
}

* {
box-sizing: border-box;
}

hr {
color: rgb(218, 234, 248)
}

.clear{
clear:both;
}

a, p, ul, li{
font-family: "Calibri Light";
text-decoration: none;
color: rgb(62,62,62);
}

.button-light{
padding: 10px 20px;
margin: 0px 0px 50px 20px;
background-color: rgb(255,255,255);
color: rgb(62, 62, 62);
border: 2px solid rgb(118, 162, 214);
border-radius: 5px;
font-size: 100%;
font-family: "Calibri Light";
display: block;
}

.button-accordion{
padding: 10px 20px;
margin: auto;
background-color: rgb(255,255,255);
color: rgb(62,62,62);
border: 2px solid rgb(9,68,125);
border-radius: 5px;
font-size: 100%;
font-family: "Calibri Light";
display: block;
width: 70%;
}

.button-dark{
padding:10px 20px;
margin: 0px 0px 0px 20px;
/*ackground-color: rgb(118, 162, 214);*/
background-color: rgb(218, 234, 248);
color: rgb(255,255,255);
border: 2px solid rgb(255,255,255);
border-radius: 5px;
font-size: 100%;
font-family: "Calibri-Light";
display: block;
}

.button-light:hover{
background-color: rgb(118,162,214);
color: rgb(255,255,255);
}

.button-dark:hover{
background-color: rgb(255,255,255);
color: rgb(62,62,62);
}

.button-accordion:hover{
background-color: rgb(9,68,125);
color: rgb(255,255,255);
}

nav {
    /*background-color: rgb(118, 162, 214);*/
    background-color: rgb(218, 234, 248);
    width: 100%;
    overflow:hidden;
    position: fixed;
    top: 0;
    }

@media screen and (min-width: 768px){
    nav a{
    display: inline-block;
    float: left;
    text-decoration: none;
    text-align: center;
    color: rgb(62,62,62);
    padding: 15px 40px;
    font-size: 100%;
    font-family: "Calibri Light";
    margin: 0px;
    }

    nav a.current{
    text-decoration: underline rgb(62,62,62);
    }

    nav a:hover{
    background-color: rgb(255,255,255);
    color: rgb(118, 162, 214);
    text-decoration: underline rgb(118,162,214);
    }

    nav a.icon{
    display: none;
    }

    /*responsive columns*/
    .col-1 {
    width: 8.33%;
    float: left;
    padding: 15px;
    }

    .col-2 {
    width: 16.66%;
    float: left;
    padding: 15px;
    }

    .col-3 {
    width: 25%;
    float: left;
    padding: 15px;
    }

    .col-4 {
    width: 33.33%;
    float: left;
    padding: 15px;
    }

    .col-5 {
    width: 41.66%;
    float: left;
    padding: 15px;
    }

    .col-6 {
    width: 50%;
    float: left;
    padding: 15px;
    }

    .col-7 {
    width: 58.33%;
    float: left;
    padding: 15px;
    }

    .col-8 {
    width: 66.66%;
    float: left;
    padding: 15px;
    }

    .col-9 {
    width: 75%;
    float: left;
    padding: 15px;
    }

    .col-10 {
    width: 83.33%;
    float: left;
    padding: 15px;
    }

    .col-11 {
    width: 91.66%;
    float: left;
    padding: 15px;
    }

    .col-12 {
    width: 100%;
    float: left;
    padding: 15px;
    }
}

/*Home Page*/
.tagline{
/*background-color: rgb(118, 162, 214);*/
background-color: rgb(218, 234, 248);
padding: 10px 0px 20px 0px;
width: 100%;
margin: 0px;
}

.tagline img{
width: 25%;
display: inline-block;
margin-left: 100px;
padding:0px;
}

#experiences{
background-color: rgb(255,255,255);
padding: 10px 0px 25px 0px;
margin: 0px;
}

#experiences img{
width: 80%;
margin-left: 100px;
margin-right: 100px;
}

#projecthighlights{
background-color: rgb(255,255,255);
padding: 10px 0px 25px 0px;
margin: 0px;
}

#aboutme{
background-color: rgb(255,255,255);
padding: 10px 0px 25px 0px;
margin: 0px;
}

h1 {
text-align: left;
font-size: 300%;
font-family: "Avenir", "Calibri Light", "Arial";
color: rgb(62,62,62);
padding-top: 30px;
}

h2 {
text-align: left;
color: rgb(118,162,214);
font-size: 200%;
font-family: "Calibri Light";
padding: 30px 20px 20px 20px;
margin: 0px;
display: block;
}

.tagline h2{
color: rgb(62,62,62);
display: inline-block;
margin: 0px;
float: left;
}

#projecthighlights img{
width: 20%;
border-radius: 50%;
/*border: solid rgb(118, 162, 214);*/
border: solid rgb(118, 162, 214);
display: inline-block;
margin: 0px 20px 20px 20px;
}

#profilepic{
width:100%;
display: inline-block;
float: left;
margin: 0px;
}

#about p{
float: left;
margin: 0px;
}

/*Pages*/
.pagetitles{
/*background-color: rgb(118, 162, 214);*/
background-color: rgb(218, 234, 248);
padding: 10px 0px 20px 0px;
margin: 0px;
}

.artwork {
width: 30%;
}

/*Drop-down Accordion*/
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Calibri Light";
    font-size: 110%;
    color: gray;
}

.accordion {
    background-color: rgb(218, 234, 248);
    color: rgb(62,62,62);
    cursor: pointer;
    padding: 18px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Calibri Light";
    font-size: 120%;
}

.active, .accordion:hover {
    /*background-color: rgb(137, 181, 225);*/
    background-color: rgb(9,68,125);
    color: rgb(255,255,255);
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: rgb(255,255,255);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.resumesection{
margin-top: 50px;
}

#resumepdf {
margin-left: auto;
padding: 50px;
width:90%;
height: 1300px;
}

.projectcontent{
margin: 50px;}

.projectcontent h2{
margin:0px;
padding: 50px 0px 50px 0px;
clear: both;
display: block;
}

.outcome{
color: rgb(118,162,214);
}

.projecttitles{
/*background-color: rgb(118, 162, 214);*/
background-color: rgb(218, 234, 248);
padding: 10px 0px 20px 0px;
margin: 0px;
}

.projecttitles h1{
font-size: 300%;
}

.projectcontent img{
max-width: 1000px;
width: 80%;
margin: auto;
display: block;
}

/*Footer*/
footer {
clear: both;
/*background-color: rgb(118, 162, 214);*/
background-color: rgb(218, 234, 248);
padding: 20px 0px;
margin: auto;
}

footer a{
margin-left: 20px;
margin-right: 20px;
display: inline-block;
text-align: right;
text-decoration: none;
color: rgb(62,62,62);
font-family: "Calibri Light";
}

footer a:hover{
text-decoration: underline;
}

#Github{
float: left;
width: 40px;
margin-right: 10px;
margin-left: 10px;
}

#LinkedIn{
float: left;
width: 40px;
margin-right: 10px;
margin-left: 10px;
}

footer p{
margin-left: 20px;
margin-right: 20px;
display: inline-block;
color: rgb(62,62,62);
}

@media screen and (max-width: 768px){
    h1, [class*="col-"]{
    max-width: 100%;
    clear: both;
    padding-top: 30px;
    margin: 20px;
    }

    nav a{
    display: inline-block;
    float: left;
    text-decoration: none;
    text-align: center;
    color: rgb(62,62,62);
    padding: 15px 40px;
    font-size: 100%;
    font-family: "Calibri Light";
    margin: 0px;
    }

    nav a.current{
    text-decoration: underline rgb(62,62,62);
    }

    nav a:hover{
    background-color: rgb(255,255,255);
    color: rgb(118, 162, 214);
    }

    nav a:not(:first-child){
    display: none;
    }

    nav a.icon{
    float: right;
    display: block;
    }

    nav.responsive{
    position: relative;
    }

    nav.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
    }

    nav.responsive a{
    float: none;
    display: block;
    text-align: left;
    }

    .tagline img{
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    padding:0px;
    }

    #experiences img{
    width: 100%;
    margin: auto;
    }

    #projecthighlights img{
    width: 60%;
    border-radius: 50%;
    border: solid rgb(118, 162, 214);
    display: block;
    margin: 0px 20px 50px 60px;
    }

    .projecttitles h1{
    font-size: 200%;
    }

    .projectcontent img{
    width: 100%;
    max-width: 768px;
    }

    .artwork {
    width: 100%;
    }

    footer a{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    color: rgb(62,62,62);
    }

    footer p{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    color: rgb(62,62,62);
    }
}

a:focus{
background-color: #000000;
}
