/*Navigation Bar*/
#navigation {
  /*background-color: #cce6ff;*/
  background-color: #004080;
  padding: 0px;
  margin: 0px;
  text-align: right;
  list-style-type: none;
  width: 100%;
  font-size: 75%;
  font-family:"Verdana";
}

#navigation a {
  display: block;
  text-decoration: none;
  text-align: left;
  color: white;
  padding: 15px 47px 15px 47px;
}

#navigation a.current {
  text-decoration: underline white;
}

#navigation a.current:hover {
  text-decoration: underline black;
}

#navigation li {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 125%;
}

#navigation a:hover {
  /*background-color: #004080;*/
  /*background-color: #6FAFFF;*/
  background-color: #DDEAEE;
  color: black;
}

#navigation li:hover ul {
  display: block;
}

#navigation ul {
  display: none;
  position: absolute;
  /*top: 100%;*/
  /*left: 0%;*/
  padding: 0px;
  width: 100%;
  text-align: left;
}

#navigation ul li {
  background-color: #6FAFFF;
  display: block;
  font-size: 90%;
  font-family:"Verdana";
}

/*#navigation active {
  text-decoration: underline;
  text-decoration-color: white;
}*/

/*.description {
  text-align: center;
  font-size: 500%;
  background-color: #cce6ff;
  margin: 5px;
}

.test a {
  font-size: 400%;
}

.img-circle-menu {
  float: left;
  display: inline-block;
  padding: auto;
  margin: auto;
}*/

/*Home Page*/

.profilepic {
  display:inline;
  align: center;
  margin: 15px;
}

/*.content {
  display: inline;
  margin: auto;
  font-family: "Trebuchet MS";
  font-size: 100%;
  text-align: center;
}*/

.column1 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top:45px;
  padding-bottom: 15px;
}

.column2 {
  width: 60%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 90%;
  font-family: "Verdana";
  text-align: left;
  padding-top:45px;
  padding-bottom: 15px;
}

.clear {
  clear: both;
}

/*.test_column3 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}*/

.prohi1 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top:40px;
  padding-bottom:30px;
}

.prohi1 a {
  font-family: "Verdana";
  font-size: 90%;
  text-decoration: none;
  color: black;
  /*  background-color: #76A246;*/
}

.prohi2 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top:40px;
  padding-bottom:30px;
  font-family: "Verdana"
  font-size: 90%;
  text-decoration: none;
  color: black;
}

.prohi2 a {
  font-family: "Verdana";
  font-size: 90%;
  text-decoration: none;
  color: black;
}

.prohi3 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top:40px;
  padding-bottom:30px;
  font-family: "Verdana"
  font-size: 90%;
  text-decoration: none;
  color: black;
}

.prohi3 a {
  font-family: "Verdana";
  font-size: 90%;
  text-decoration: none;
  color: black;
}

/*Projects*/
.projecttitle {
  padding-left:40px;
  padding-right:40px;
  padding-top:30px;
}

.projectcontent {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Verdana";
  font-size: 85%;
}

.button {
  padding: 10px 100px;
  background-color: white;
  border: 2px solid #004080;
  font-size:90%;
  font-family:"Verdana";
}

.button:hover {
   background-color: #004080;
   color: white;
}

/*Footer */
#footer {
  position: relative;
  left: 0px;
  bottom: 20px;
  height: 40px;
  width: 97%;
  list-style-type: none;
  margin: 0px;
  text-align: center;
  /*background-color: #eaeded;*/
  font-family: "Verdana";
  font-size: 90%;
}

#footer a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

#footer a:hover {
  text-decoration: underline;
  color: #004080;
}

#footer li {
  position: relative;
  display: inline-block;
}

#footer .GitHub {
  align: right;
  padding-top: 5px;
  padding-left: 40px;
}

#footer .LinkedIn {
  align: right;
  padding-top: 5px;
}

/*Misc.
.pagetitle {
  font-size: 200%;
  font-family: "Trebuchet MS";
  color: #004080;
  padding-top:20px;
}*/