.max {
    max-width: 1000px;
    margin: 0 auto;
}

/*Navigation Bar*/
.navigation {
  /*background-color: #cce6ff;*/
  /*background-color: #004080;*/
  background-color: #004080;
  padding: 0px;
  /*text-align: right;
  list-style-type: none;*/
  width: 100%;
  /*font-size: 85%;
  font-family:"Calibri";*/
  overflow: hidden;
}

.navigation a {
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 15px 40px 15px 40px;
  font-size: 110%;
  font-family: "Calibri";
}

.navigation a.current {
  text-decoration: underline white;
}

#navigation a.current:hover {
  text-decoration: underline black;
}

.navigation li {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  font-size: 125%;
}

.navigation a:hover {
  /*background-color: #004080;*/
  /*background-color: #6FAFFF;*/
  /*background-color: #DDEAEE;*/
  background-color: #AEC0D9;
  color: black;
}

.navigation li:hover ul {
  display: block;
}

.navigation ul {
  display: none;
  position: absolute;
  /*top: 100%;*/
  /*left: 0%;*/
  padding: 0px;
  width: 100%;
  text-align: left;
}

.navigation ul li {
  /*background-color: #6FAFFF;*/
  background-color: #719DD9;
  display: block;
  font-size: 90%;
  font-family:"Calibri";
}

.navigation .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
   float: right;
   display: block;
  }
}

@media screen and (max-width: 768px) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*#navigation active {
  text-decoration: underline;
  text-decoration-color: white;
}*/

/*.description {
  text-align: center;
  font-size: 500%;
  background-color: #cce6ff;
  margin: 5px;
}

.test a {
  font-size: 400%;
}

.img-circle-menu {
  float: left;
  display: inline-block;
  padding: auto;
  margin: auto;
}*/

/*Responsive Columns*/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
        width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
        float: left;
        padding: 15px;
    }
    .col-2 {width: 16.66%;
        float: left;
        padding: 15px;
    }
    .col-3 {width: 25%;
        float: left;
        padding: 15px;
    }
    .col-4 {width: 33.33%;
        float: left;
        padding: 15px;
    }
    .col-5 {width: 41.66%;
        float: left;
        padding: 15px;
    }
    .col-6 {width: 50%;
        float: left;
        padding: 15px;
    }
    .col-7 {width: 58.33%;
        float: left;
        padding: 15px;
    }
    .col-8 {width: 66.66%;
        float: left;
        padding: 15px;
    }
    .col-9 {width: 75%;
        float: left;
        padding: 15px;
    }
    .col-10 {width: 83.33%;
        float: left;
        padding: 15px;
    }
    .col-11 {width: 91.66%;
        float: left;
        padding: 15px;
    }
    .col-12 {width: 100%;
        float: left;
        padding: 15px;
    }
}

/*Home Page*/

#profilepic {
  /*padding-top: 70px;*/
  align: center;
}

.title {
  text-align: center;
  font-size: 300%;
  font-family:"Trebuchet MS";
  color: #004080;
}

.intro {
  text-align: center;
  font-family: "Calibri Light";
  color: gray;
  font-size: 120%;
  padding-left: 50px;
  padding-right: 50px;
}

#journey_descr {
  text-align: center;
  color: gray;
  font-size: 150%;
  font-family: "Calibri Light";
  padding-left: 50px;
  padding-right: 50px;
}

.clear {
  clear: both;
}

/*.content {
  display: inline;
  margin: auto;
  font-family: "Trebuchet MS";
  font-size: 100%;
  text-align: center;
}*/

/*.column1 {
  width: 30%;
  float: left;
  /*margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding-top:70px;
  padding-bottom: 15px;
}*/

/*.column2 {
  width: 70%;
  float: left;
  /*margin-left: 20px;
  margin-right: 20px;
  /*font-size: 100%;
  font-family: "Calibri Light";
  color: gray;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
}*/

/*.test_column3 {
  width: 30%;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}*/

.prohi1 {
  /*width: 30%;*/
  float: left;
  /*margin-left: 20px;
  margin-right: 20px;*/
  text-align: center;
  padding-top:40px;
  font-family: "Calibri Light";
  font-size: 100%;
  color: gray;
}

.prohi1 a {
  font-family: "Calibri Light";
  font-size: 110%;
  text-decoration: none;
  color: gray;
  /*  background-color: #76A246;*/
}

.prohi2 {
  /*width: 30%;*/
  float: left;
  /*margin-left: 20px;
  margin-right: 20px;*/
  text-align: center;
  padding-top:45px;
  font-family: "Calibri Light"
  font-size: 100%;
  color: gray;
}

.prohi2 a {
  font-family: "Calibri Light";
  font-size: 110%;
  text-decoration: none;
  color: gray;
}

.prohi3 {
  /*width: 30%;*/
  float: left;
  /*margin-left: 20px;
  margin-right: 20px;*/
  text-align: center;
  padding-top:45px;
  font-family: "Calibri Light"
  font-size: 100%;
  color: gray;
}

.prohi3 a {
  font-family: "Calibri Light";
  font-size: 110%;
  text-decoration: none;
  color: gray;
}

/*Projects*/
.projecttitle {
  padding-left:40px;
  padding-right:40px;
  padding-top:30px;
  padding-bottom:10px;
  font-family: "Trebuchet MS";
  font-size: 180%;
  color: #004080;
}

.projectcontent {
  font-family: "Calibri Light";
  font-size: 110%;
  color: gray;
}

.button {
  padding: 10px 100px;
  background-color: white;
  border: 2px solid #004080;
  font-size:100%;
  font-family:"Calibri Light";
  width: 100%;
}

.button:hover {
   background-color: #004080;
   color: white;
}

/*Footer */
#footer {
  position: relative;
  left: 0px;
  bottom: 20px;
  height: 40px;
  width: 97%;
  list-style-type: none;
  margin: 0px;
  text-align: center;
  /*background-color: #eaeded;*/
  font-family: "Calibri Light";
  font-size: 100%;
}

#footer a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}

#footer a:hover {
  text-decoration: underline;
  color: #004080;
}

#footer li {
  position: relative;
  display: inline-block;
}

#footer .GitHub {
  align: right;
  padding-top: 5px;
  padding-left: 40px;
}

#footer .LinkedIn {
  align: right;
  padding-top: 5px;
}

/*Misc.
.pagetitle {
  font-size: 200%;
  font-family: "Trebuchet MS";
  color: #004080;
  padding-top:20px;
}*/

.expand {
  display: block;
}


/*@media (max-width:800px) {
  .column1, .column2, .prohi1, .prohi2, .prohi3 {
    width:100%; /*The width is 100%, when the viewport is 800px or smaller
  }
}*/