{% include "header.html" %}

<section class="pagetitles">
    <div class="max">
        <h1>About Website</h1>
    </div>
</section>

<div class="max">
    <p class="projectcontent">This website was created using HTML, CSS, JavaScript, and Python. I created this website for academic and professional purposes. This is my very first website, intended as a personal project on web design and development. Over the past two years, I have tweaked and rebuilt the website multiple times, each time better than before. All history of the website can be viewed on my GitHub profile. If you have any questions, please contact me directly using the contact tab. Thank you for visiting.</p>
    <form action="https://github.com/noviawong/noviawong.com" method="get"><button class="button-accordion">View Source Code</button></form>
</div>
{% include "footer.html" %}