{% include "header.html" %}
<div align="center">
    <p style="padding-top:30px"><font size="7" face="Avenir" color=#004080>About This Website</font></p>
    <p class="projectcontent">This website was created using HTML, CSS, and Python. I created this website for academic and professional
        purposes. This is my very first website, intended as a personal project on web development. If you have any questions, please
        contact me directly using the contact tab. Thank you for visiting.</p>
    <br>
    <a href="https://github.com/noviawong/noviawong.com" style="text-decoration:none" target="_blank">
        <button class="button">View Source Code</button></a>
</div>
{% include "footer.html" %}