{% include "header.html" %}
<div align="center">
    <p style="padding-top:30px"><font size="100">About This Website</font></p>
    <a href="https://github.com/noviawong/noviawong.com">Source Code</a>
    <p style="padding-bottom:10px">This website was created using HTML, CSS, and Python. I created this website for academic and professional purposes. This is my very first website, intended as a personal project on web development. If you have any question, please contact me directly using the contact page. Thank you for visiting.</p>
</div>
{% include "footer.html" %}