{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">Cengage: Gale's Digital Scholar Lab</p>
        <p class="projectcontent">This is an ongoing project.</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <br>
        <p><b>Role:</b>User Experience Researcher</p>
        <p>
            <b>Skills Used:</b>Semi-structured Interview</br>Survey Design and Analysis
        </p>
        <p><b>Summary:</b> Cengage has tasked our team to conduct usability testing on their beta-product: Digital Scholar Lab.</p>
        <div class="clear"></div>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <div align="center">
                <img src="{{ url_for('static', filename='RHCA_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% include "footer.html" %}