{% include "header.html" %}
<div align="center">
    <p style="padding-top:30px"><font size="7">Class Projects: San Jose State University</font></p>
</div>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project1">
        <p><b>Title:</b> Children with ASD and Enhanced Learning Environment</p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Crtical Writing </p>
    </div>
</div>
<div class="clear"></div>
<hr>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project2">
        <p><b>Title:</b> Attraction: Race, Physical Appearance, and Academic-Career Achievement in Romantic Relationships </p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Google Drive, Survey Design & Analysis, SPSS, Critical Writing </p>
    </div>
</div>
<div class="clear"></div>
<hr>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project3">
        <p><b>Title:</b> Employment, Ethnicity, and Academic Probation: Impacts on Perception of a Hispanic Student </p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Qualtrics, Survey Design & Analysis, SPSS, Critical Writing </p>
    </div>
</div>
<div class="clear"></div>
<hr>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project4">
        <p><b>Title:</b> Children with Autism Spectrum Disorder and Motor Impairment </p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Critical Writing </p>
    </div>
</div>
<div class="clear"></div>
<hr>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project5">
        <p><b>Title:</b> Self-Directed Neuroplasticity Project </p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Data Collection & Analysis, Critical Writing, Poster Design </p>
    </div>
</div>
<div class="clear"></div>
<hr>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
    <div class="column2" id="project6">
        <p><b>Title:</b> Attitudes of San Jose State University Students toward Undocumented Students</p>
        <P><b>Abstract:</b> </P>
        <p><b>Skills Involved:</b> Literature Review, Semi-structured Interviews, Critical Writing </p>
    </div>
</div>
<hr>
{% include "footer.html" %}