{% include "header.html" %}
<div align="center" class="section_background">
    <p class="title">Design</p>
</div>

<br>

<div class="max">
    <p class="subtitle"> Wallpaper </p>
    <a href="{{ url_for('static', filename='bb8.png') }}" target="_blank"><img src="{{ url_for('static', filename='bb8.png') }}" alt="BB8_Wallpaper" width="30%"></a>
    <a href="{{ url_for('static', filename='appa.png') }}" target="_blank"><img src="{{ url_for('static', filename='appa.png') }}" alt="Appa_Wallpaper" width="30%"></a>

    <p class="subtitle">Mobile Interfaces</p>
    <a href="{{url_for('static', filename='FODMAPPA_hifi-01.jpg') }}" target="_blank"><img src="{{url_for('static', filename='FODMAPPA_hifi-01.jpg') }}" alt = "FODMAPPA mobile application high fidelity mockup" width="30%"></a>
</div>

<div class="clear"></div>

{% include "footer.html" %}
