{% include "header.html" %}

<section class="pagetitles">
    <div class="max">
        <h1>Graphic Design</h1>
    </div>
</section>

<section>
    <div class="max">
        <h3> Wallpaper </h3>
        <a href="{{ url_for('static', filename='bb8.png') }}" target="_blank"><img class="artwork" src="{{ url_for('static', filename='bb8.png') }}" alt="BB8_Wallpaper"></a>
        <a href="{{ url_for('static', filename='appa.png') }}" target="_blank"><img class="artwork" src="{{ url_for('static', filename='appa.png') }}" alt="Appa_Wallpaper"></a>

        <br><br>
        <hr>

        <h3>Mobile Interfaces</h3>
        <a href="{{url_for('static', filename='FODMAPPA_hifi-01.jpg') }}" target="_blank"><img class="artwork" src="{{url_for('static', filename='FODMAPPA_hifi-01.jpg') }}" alt = "FODMAPPA mobile application high fidelity mockup"></a>
    </div>
</section>

{% include "footer.html" %}
