{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">CID: Special Events in Ferndale</p>
        <p class="projectcontent">This is an ongoing project.</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <br>
        <p><b>Role:</b>User Experience Researcher</p>
        <p>
            <b>Skills Used:</b>Contextual Inquires and Semi-structured Interview</br>Hallway Usability Testing
        </p>
        <p><b>Summary:</b> The city of Ferndale has tasked us to improve the communication between the city and its resients and local
            local businesses regarding special events. Our goal is to identify problems in the current communication methods and find out </p>
        <div class="clear"></div>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <div align="center">
                <img src="{{ url_for('static', filename='RHCA_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% include "footer.html" %}