{% include "header.html" %}

<section class="projecttitles">
    <div class="max">
        <h1>CID: Special Events in Ferndale</h1>
    </div>
</section>

<div class="max">
    <section class="projectcontent">
        <h3>This page is currently being updated.</h3>
        <!--<br>
        <p><b>Role:</b>User Experience Researcher</p>
        <p>
            <b>Skills Used:</b></br>Contextual Inquires and Semi-structured Interview</br>Hallway Usability Testing</br>Survey Analysis
            </br>Personas
        </p>
        <p><b>Summary:</b> The city of Ferndale has tasked us to improve the communication between the city and its residents and local
            businesses regarding information on special events. Our goal is to identify problems in the current communication methods and find out
            users' preferences in receiving information and provding feedback.
        </p>
        <div class="clear"></div>
        <hr color=#AEC0D9>-->
        <h3>Research Process</h3>
        <img src="{{ url_for('static', filename='ferndale_researchprocess.png') }}" alt="Image Unavailable" width="100%">
    </section>
</div>

{% include "footer.html" %}