<div class="clear"><br><br></div>
<footer>
    <div>
        <p class="col-4">
            &copy; Copyright Novia Wong, November 2018
        </p>
        <a href="https://github.com/noviawong" target="_blank">
            <img id="Github" src="{{ url_for('static', filename='GitHub.png') }}" alt="Click to go to my GitHub profile.">
        </a>
        <a href="https://www.linkedin.com/in/novia-wong" target="_blank">
            <img id="LinkedIn" src="{{ url_for('static', filename='LinkedIn.png') }}" alt="Click to go to my LinkedIn profile.">
        </a>
        <a id="aboutwebsite" href="{{ url_for('about')}}">About Website</a>
    </div>
</footer>

<script>
function myFunction() {
    var x = document.getElementById("MyNav");
    if (x.className === "navigation"){
        x.className += " responsive";
    } else {
        x.className = "navigation";
    }
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}

</script>
</body>
</html>