<footer>
    <div class="clear"></div>
    <br>
    <hr color=#004080>
    <br>
    <div class="clear"></div>
    <ul id="footer">
        <li>
            <a href="{{ url_for('about') }}">About Website</a>
        </li>
        <li>
            <a class="GitHub" href="https://github.com/noviawong" target="_blank">
                <img src="{{ url_for('static', filename='GitHub.png') }}" alt="Image Unavailable" width="45%">
            </a>
        </li>
        <li>
            <a class="LinkedIn" href="https://www.linkedin.com/in/novia-wong-2848bbaa/" target="_blank">
                <img src="{{ url_for('static', filename='LinkedIn.png') }}" alt="Image Unavailable">
            </a>
        </li>
    </ul>
</footer>
</body>
</html>