<footer>
    <div class="clear"></div>
    <br>
    <br>
    <div class="clear"></div>
    <ul id="footer">
        <li>
            <a href="{{ url_for('about') }}">About Website</a>
        </li>
        <li>
            <a class="GitHub" href="https://github.com/noviawong" target="_blank">
                <img src="{{ url_for('static', filename='GitHub.png') }}" alt="Image Unavailable" width="45%">
            </a>
        </li>
        <li>
            <a class="LinkedIn" href="https://www.linkedin.com/in/novia-wong-2848bbaa/" target="_blank">
                <img src="{{ url_for('static', filename='LinkedIn.png') }}" alt="Image Unavailable">
            </a>
        </li>
    </ul>
</footer>

<script>
function myFunction() {
    var x = document.getElementById("MyNav");
    if (x.className === "navigation") {
        x.className += " responsive";
    } else {
        x.className = "navigation";
    }
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
</body>
</html>