<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Novia Wong</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
        <!-- This is the navigation menu -->
       <div>
           <ul id=navigation>
                <li><a href="{{ url_for('index') }}" class="{{pageclass('index')}}">Home</a></li>
                <li><a href="{{ url_for('research') }}" class="{{pageclass('research')}}">Research</a></li>
                <li><a href="{{ url_for('project') }}" class="{{pageclass('project')}}">Project</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('classprojects') }}">Class Projects</a></li>
                        <li><a href="{{ url_for('independent') }}">Independent Projects</a></li>
                    </ul>
               </li>
                <li><a href="mailto:novia0925@gmail.com" class="{{pageclass('contact')}}">Contact</a></li>
            </ul>
        </div>
