<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Novia Wong</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-logo-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-logo-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <!-- Navigation menu -->
    <header>
        <nav id="MyNav">
            <a href="{{ url_for('index') }}" class="{{pageclass('index')}}">Home</a>
            <a href="{{ url_for('UX') }}" class="{{pageclass('UX')}}">UX Projects</a>
                        <!--<ul>
                            <li><a href="{{ url_for('classprojects') }}">Class</a></li>
                            <li><a href="{{ url_for('independent') }}">Independent</a></li>
                        </ul>-->
            <a href="{{ url_for('design') }}" class="{{pageclass('design')}}">Graphic Design</a>
            <a href="{{ url_for('resume') }}" class="{{pageclass('resume')}}">Resume</a>
            <a href="mailto:novia0925@gmail.com" class="{{pageclass('contact')}}">Contact</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </nav>
    </header>
