{% include "header.html" %}

<br>
<div>
    <p align="center"><font size="7" face="Trebuchet MS" color=#004080>Hello, I am Novia Wong!</font></p>
</div>
<br>
<hr color=#AEC0D9>
<br>

<!--Journey map-->

<div>
    <p id="journey_descr"> My journey to become a UX researcher began when I was in my first year of college...</br>I wondered if there was a
        way to merge technology and psychology.</p>
        <!--<p align="center"> Engineering Psychology <b>-></b> Human Factors <b>-></b> Human-Computer Interactions <b>-></b> UX Research</p>-->
    <div class="col-2"></div>
    <div class="col-8" align="center">
        <img src="{{ url_for('static', filename='journey.png') }}" alt="Image Unavailable" width="100%">
    </div>
    <div class="col-2"></div>
</div>

<!-- Clears format -->

<div class="clear"></div>
<hr color=#AEC0D9>
<br>

<!--Beginning of projects highlights-->

<p align="center"><font size="6" face="Trebuchet MS" color=#004080>Project Highlights</font></p>
<div>
    <div class="col-4">
        <div class="prohi1"><a href="{{ url_for('mealspace') }}">
            <img src="{{ url_for('static', filename='MealSpace.png') }}" alt="Image Unavailable" width="55%">
            <p>MealSpace is a team-based self-initiated project for 2018 CHI Student Design Competition. It is a solution aimed to solve
            the problem of college students lacking healthy eating habits. The process of user research and design iteration took place
                over the course of 4 months.</p></a>
            <div align="center">
                <a href="{{ url_for('mealspace') }}"><button class="button">Read More</button></a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="prohi2"><a href="{{ url_for('somethingblue') }}">
            <img src="{{ url_for('static', filename='SomethingBlue.png') }}" alt="Image Unavailable" width="75%">
            <p>Something Blue Consulting was a course project at the University of Michigan, where I worked in a team of 4 to assess existing
                problems of our client, develop interview protocols and conduct interviews with stakeholders, as well as analyze interview
                results using affinity wall.</p></a>
            <div align="center">
                <a href="{{ url_for('somethingblue') }}"><button class="button">Read More</button></a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="prohi3"><a href="{{ url_for('thesis') }}">
            <img src="{{ url_for('static', filename='PasswordStudy.png') }}" alt="Image Unavailable" width="84%">
            <p>Inspired by the flaws and constant frustrations of some of the modern account authentication systems, this study explored users'
                problems with password management and usage. A final written report detailed study findings and result analysis.</p></a>
            <div class="clear"></div>
            <br>
            <div align="center">
                <a href="{{ url_for('thesis') }}"><button class="button">Read More</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Clears format -->

<div class="clear"></div>
<br>

<hr color=#AEC0D9>

<!--this is the home page text and image-->

<div>
    <!-- Profile Image -->
    <br>
    <p align="center"><font size="6" face="Trebuchet MS" color=#004080>About Me</font></p>
    <div class="col-4"></div>
    <div class="col-4" align="center">
        <img id="profilepic" src="{{ url_for('static', filename='PsiChiSuit.png') }}" alt="Image Unavailable" width="50%">
    </div>
    <div class="col-4"></div>
    <div class="clear"></div>
    <!-- About Me -->
    <div>
        <br>
        <div class="intro">
            <p><font color="#93AED4">Current Master Student at the University of Michigan School of Information  |  Studied Psychology and Mathematics
            at San Jose State University</font></p>
            <p> I am passionate about finding new ways to incorporate technology into everyday life,
            especially in areas of learning technology and robotics. And in my free time, I enjoy doing the following activities:</p>
        <!--<div align="center">
            <img src="{{ url_for('static', filename='piano.png') }}" alt="Image Unavailable" width="20%">
            <img src="{{ url_for('static', filename='baking.png') }}" alt="Image Unavailable" width="20%">
            <img src="{{ url_for('static', filename='photo.png') }}" alt="Image Unavailable" width="20%">
            <img src="{{ url_for('static', filename='robot.png') }}" alt="Image Unavailable" width="20%">-->
            <div class="col-2"></div>
            <div class="col-8" align="center"><img src="{{ url_for('static', filename='hobbies.png') }}" alt="Image Unavailable" width="70%"></div>
            <div class="col-2"></div>
            <div class="clear"></div>
            <p> Professionally, my areas of interest include:</br>
                <div align="center">Psychology</br>Statistics</br>Human-Computer Interaction</br>UX Research</div></p>
        </div>
    </div>
</div>

<!--<hr color=#AEC0D9>-->



<!--<div>
    <div class="prohi1">
        <a href="{{ url_for('mealspace') }}"><button class="button">Read More</button></a>
    </div>
    <div class="prohi2">
        <a href="{{ url_for('somethingblue') }}"><button class="button">Read More</button></a>
    </div>
    <div class="prohi3">
        <a href="{{ url_for('thesis') }}"><button class="button">Read More</button></a>
    </div>-->
</div>

{% include "footer.html" %}
