{% include "header.html" %}
<!--this is the home page text and image-->
<div>
    <div class="column1">
        <img class="profilepic" src="{{ url_for('static', filename='PsiChiSuit.png') }}" alt="Image Unavailable" width="70%">
    </div>
    <div class="column2">
        <br>
        <div><p align="left"><font size="300" face="Trebuchet MS">Hello!</font></p></div>
        <p class="content">My name is Novia Wong. I am passionate about finding new ways to incorporate technology into everyday life, especially in areas of learning technology and artificial intelligence. My areas of interest include:</p>
        <ul>
            <li>Psychology</li>
            <li>Statistics</li>
            <li>Human-Computer Interaction</li>
            <li>UX Research</li>
        </ul>
        <p>I am currently a student in the master’s program of Science of Information at University of Michigan, Ann Arbor. I graduated with a Psychology B.S. degree and a Mathematics minor from San Jose State University.</p>
    </div>
</div>
{% include "footer.html" %}
