{% include "header.html" %}

<div align="center">
    <p class="projecttitle"><font size="5" face="Trebuchet MS" color=#004080>MealSpace: A New Way To Eat And Cook Nutritious Meals With Friends</font></p>
    <hr color=#DDEAEE>
</div>
<div>
    <P class="projectcontent"><b>Summary:</b> MealSpace is a solution that engages the student community that is new to a university campus
        by providing a physical space for students to cook together to encourage healthy eating. This space provides ingredients for
        tailored recipes, along with step-by-step guidance for preparing the meal. Drawing inspiration from maker spaces across the nation,
        MealSpace is conceptualized from studying student habits, responses, and working with the University of Michigan Health Services.
        Research was done with students regarding the transition to a college environment from high school or a different country,
        since the drastic change of setting can push students to not prioritize healthy eating. Using various methods such as surveys,
        contextual inquiry, and diary studies, MealSpace was created. The technical intervention focuses on a website for registration of
        cooking sessions and a tablet interface for recipes. The main focus of MealSpace resides in engaging students to create a meal
        with each other.</P>
    <p><b></b></p>
    </div>
</div>

{% include "footer.html" %}