{% include "header.html" %}

<div align="center">
    <p style="padding-top:20px"><font size="7" face="Trebuchet MS" color=#004080>Paper</font></p>
    <p style="padding-bottom:10px"><font size="3" face="Candara">This page includes some of my past academic research reports I conducted
        at San Jose State University while I was studying in the field of psychology.</font></p>
    <p><font size="3" face="Candara">If you are interested in reading any of the paper in full length, please contact me for more details.</font></p>
    <hr color=#DDEAEE>
</div>
<div>
    <!--<p style="padding-left:20px" align="left"><font size="4" face="Trebuchet MS"> San Jose State University </font></p>-->
    <ul>
        <li><a data-toggle="collapse" href="#project1" aria-expanded="true" aria-controls="project1" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080><!--<a href="{{ url_for('paper') }}#project1">-->
                Children with ASD and Enhanced Learning Environment</font></a></li>
        <div class="expand" id="project1"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Children with ASD and Enhanced Learning Environment</p>-->
            <P><b>Abstract:</b> Individuals with Autism Spectrum Disorder (ASD) often struggle with communication and social interactions
            in everyday activities. It is crucial for young children who are diagnosed with ASD to receive effective treatments to
            increase their chances of appropriate behavior. The brain and neural activities of children with ASD are different than
            that of children without the disorder. However, Dawson et al. (2012) suggested that early treatments help to normalize
            brain activity patterns, particularly the brainwaves measured with electroencephalogram (EEG) when children see a face,
            and reduce the children’s maladaptive behavioral problems. The researchers believed that this is due to the plasticity of
            brain structure and functions at a young age. When children with ASD are exposed to enhanced learning environments (e.g.,
            enhanced with technology, an environment with multiple children), the likelihood of their learning outcome being positive
            greatly increases. Today, many researches have been conducted on the causes and cures for ASD, but the definite cause is
            still unknown and a cure is still not available. Until the causes and cures for ASD are found, researchers should also
            focus on further improving the existing treatments for the children already diagnosed with ASD as to bring out their full
            potential.</P>
            <p><b>Skills Involved:</b> Literature Review, Crtical Writing </p>
        </font></div>
        <hr color=#DDEAEE>
        <li> <a href="{{ url_for('paper') }}#project2" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080>
                Attraction: Race, Physical Appearance, and Academic-Career Achievement in Romantic Relationships</font></a></li>
        <div id="project2"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Attraction: Race, Physical Appearance, and Academic-Career Achievement in Romantic Relationships </p>-->
            <P><b>Abstract:</b> Many factors influence the way people choose their significant others. They also affect the level of
                attraction people have for each other. Psychologists have been interested in studying numerous factors that seemed the
                most prominent: proximity, physical appearance, similarity, and opposites attract. Moreover, gender differences on
                choosing based on physical appearance or academic-career achievement has been a controversial topic because of the
                mixed results throughout the years. Another factor that interested researchers recently is race. In the United States,
                people have the opportunity to interact with a diversity of cultures; people have a higher chance to meet someone
                outside of their own race in their neighborhood in the United States than many other countries in the world. Therefore,
                researchers for this study have chosen three main factors to examine: race, physical appearance, and academic-career
                achievement. They examine the variables that could possibly differ with these three factors: race of perceiver and
                gender of perceiver. Because prior researches have mainly utilized meta-analysis and self-report questionnaires,
                there might have been a bias in participants’ responses. As a result, this research took a more implicit approach and
                did not rely solely on self-reported ratings. Interestingly, the findings for this research did not support most of
                the prior researches conducted in similar field of study.</P>
            <p><b>Skills Involved:</b> Literature Review, Google Forms, Survey Design & Analysis, SPSS, Critical Writing </p>
        </font></div>
        <hr color=#DDEAEE>
        <li> <a href="{{ url_for('paper') }}#project3" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080>
                Employment, Ethnicity, and Academic Probation: Impacts on Perception of a Hispanic Student </font></a></li>
        <div id="project3"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Employment, Ethnicity, and Academic Probation: Impacts on Perception of a Hispanic Student </p>-->
            <p><b>Abstract:</b> A current institutional dilemma is how to inform individuals about not meeting satisfactory performance.
            A notification letter has the potential to be beneficial: alerting the person of inadequate performance, providing feedback,
            and connecting the individual to resources (Brady et al., 2016) . However, feedback of negative performance can also reduce
            motivation or have a perverse effect on individual’s efforts to meet standards (Silverman & Juhasz, 1993). Recent research
            has indicated that the style of the letter that colleges currently send to students on probation more often elicit negative
            emotions. Minimal changes to a standard letter--that is, a revised letter designed to communicate care and concern by
            alternating the rhetoric--reduced students’ negative emotions and improved academic performance (Brady et al., 2016). A gap
            regarding how different ethnic backgrounds perceive the student on probation remains in the research. Furthermore, research
            has not examined if the student’s employment status affects perceptions. In our study, participants read a standard or
            revised probation letter and then evaluated a Hispanic student, Juan Garcia, on academic probation. Juan Garcia was
            specifically listed as employed, or all mention of employment was omitted from the profile. Results indicate that there
            is a difference between Caucasian and Hispanic participant’s perceptions of Juan Garcia, but only when ethnicity interacted
            with the other two variables (work and letter-type). Implications about the impact ethnicity, employment, and wording of
            the probation letter have on perceptions of students on probation are discussed.</p>
            <p><b>Skills Involved:</b> Literature Review, Qualtrics, Survey Design & Analysis, SPSS, Critical Writing </p>
        </font></div>
        <hr color=#DDEAEE>
        <li> <a href="{{ url_for('paper') }}#project4" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080>
                Children with Autism Spectrum Disorder and Motor Impairment </font></a></li>
        <div id="project4"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Children with Autism Spectrum Disorder and Motor Impairment </p>-->
            <p><b>Abstract:</b> This paper reviews the possibility of abnormalities in the brain structures leading to motor impairments in
            children with autism spectrum disorder (ASD). Several atypical brain structural developments were found, such as increased
            volume in the lobules areas on the cerebellum. Abnormalities in such brain structures were associated with motor learning,
            and studies on motor learning found that children in ASD differed not only in kinematic and dynamic adaptations, but also
            in implicit and explicit motor learning. Unlike the typical opinion on imitation in relation to motor learning, studies have
            shown that imitation impairment in motor task is more likely due to lack of motor planning instead of motor learning or
            execution, as many participants did not have apparent abnormalities in brain structures. Although structural abnormalities
            exist in children with ASD, the causal connection between these abnormalities and motor impairments is weak. This finding
            could be due to a number of reasons, including the limitation of only studying high functioning children with ASD. To help
            improve motor skills, several less common interventions were identified, such as the use of robotics and neurofeedback. The
            most effective way for researchers to develop new interventions is to acknowledge the findings in causes of motor impairments
            and effectiveness of different learning adaptations, then target those areas and develop treatment plans.</p>
         <p><b>Skills Involved:</b> Literature Review, Critical Writing </p>
        </font></div>
        <hr color=#DDEAEE>
        <li> <a href="{{ url_for('paper') }}#project5" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080>
                Self-Directed Neuroplasticity Project </font></a></li>
        <div id="project5"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Self-Directed Neuroplasticity Project </p>-->
            <P><b>Abstract:</b> At the beginning of the study, there were discussions that the behavior was a byproduct of an undesired thought
            or mental state, such as guilt, anxiety, and stress. With the target behavior of not eating until a certain duration was met,
            two mental states were found to be causing the behavior: stress and guilt. More specifically, guilt involved the thought of
            eating too much or eating too often, which led to the behavior of counting the hours between meals to control the amount
            consumed; stress consisted of the thought that there was not enough time to finish all the work needed to be done, which
            led to the behavior of skipping meal after counting the hours. The behavior was reduced significantly after merely counting
            and observing the frequency of  its occurrence. It reduced even more after identifying the states associated with the behavior.
            The results support the hypothesis that by following the four steps of self-directed neuroplasticity, the orginally undesired
            behavior would reduce in frequency, or even diminish. Although the results support the hypothesis, relapses of the behavior seem
            to be likely, as there had been observable increases at time of unusual amount of stress</P>
            <p><b>Skills Involved:</b> Literature Review, Data Collection & Analysis, Critical Writing, Poster Design </p>
        </font></div>
        <hr color=#DDEAEE>
        <li> <a href="{{ url_for('paper') }}#project6" style="text-decoration:none">
            <font size="4" face="Candara" color=#004080>
                Attitudes of San Jose State University Students toward Undocumented Students </font></a></li>
        <div id="project6"><font size="3" face="Candara">
            <!--<p><b>Title:</b> Attitudes of San Jose State University Students toward Undocumented Students</p>-->
            <p><b>Abstract:</b> Undocumented students experience many challenges with their academic environment and their daily basic
            needs. Past research has suggested that diversity, prejudice, out-group attitudes, and political influences have much to
            do with the challenges that undocumented students face. Therefore, it is of high interest to examine the attitudes of their
            college student peers and how the recent changes in society, such as the new President and his administration, have affected
            their views toward undocumented students. In this study, we conducted semi-formal interviews with students from San Jose
            State University (SJSU) and aimed to understand the attitudes they have toward undocumented students in specific areas of
            interest, such as the students’ opinions on what action the society should take regarding the current situation of
            undocumented students. The results are mostly uniformed across all participants. The findings suggest that college
            students generally hold positive attitudes toward undocumented students, and prior interactions with undocumented students
            is not a determining factor for differences in attitudes.</p>
            <p><b>Skills Involved:</b> Literature Review, Semi-structured Interviews, Critical Writing </p>
        </font></div>
    </font>
    </ul>
</div>
<!--<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
</div>
<div class="clear"></div>
<hr color=#DDEAEE>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
</div>
<div class="clear"></div>
<hr color=#DDEAEE>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>

</div>
<div class="clear"></div>
<hr color=#DDEAEE>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
</div>
<div class="clear"></div>
<hr color=#DDEAEE>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
</div>
<div class="clear"></div>
<hr color=#DDEAEE>
<div>
    <div class="column1">
        <img src="{{ url_for('static', filename='') }}" alt="Image Unavailable" style="padding-top:30px" width="95%">
    </div>
</div>-->
<div class="clear"></div>

{% include "footer.html" %}
