{% include "header.html" %}

<div align="center">
    <p style="padding-top:30px"><font size="7">Project</font></p>
    <p style="padding-bottom:10px"> This page is currently under update, please check back later for more content!
    </p>
    <p>This page includes the projects I have
        conducted at San Jose State University and University of Michigan, as well as the side-projects
        that I do outside of school setting.
    </p>
    <p> If you would like to know the details of any of the following projects, please contact me!
    </p>
</div>
<hr>
<!--<p align="center" id="classprojects"><font size="6">Class Projects</font></p>-->

{% include "footer.html" %}