{% include "header.html" %}

<section class="pagetitles">
    <div class="max">
        <h1>Resume</h1>
    </div>
</section>

<div class="resumesection">
    <div class="max center">
        <form action="{{ url_for('static', filename='Novia_Resume.pdf') }}" method="get"><button class="button-accordion">Download Resume</button></form>
    </div>
    <div class="center">
        <object id="resumepdf" data="{{ url_for('static', filename='Novia Wong_Resume.pdf') }}"></object>
    </div>
</div>

<!--<div align="center">

</div>-->


{% include "footer.html" %}