{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">RHCA: A Nieghborhood Management App</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <br>
        <p><b>Role:</b> User Experience Researcher and Designer</p>
        <p>
            <b>Skills Used:</b></br>Competitive Analysis</br>Storymapping</br>Personas</br>Usability Testing</br>Axure
        </p>
        <p><b>Summary:</b> RHCA stands for River House Condominium Association. To get messages across to residents, the Association currently
            relies on paper notice that they put up on the glass windows at each building. This method requires the owners and residents to be
            physically present at the building to receive new information, which is not always possible to do so (e.g., traveling).
            The current non-centralized communication method presents a problem: a lack of available information for all house owners and
            tenants, particularly, it lacks an effective, clean, and accessible information system for all. To address the need of portable
            searching and communication, I created a prototype for a mobile application that facilitates efficient and comprehensive
            searches for neighborhood information for all resident and owners at RHCA. The information users can find in this application
            includes the following: neighborhood files  (e.g., board minutes, map, policies), neighborhood events, announcements, safety
            alerts, chats and messages from other users, and money transaction.</p>
        <div class="clear"></div>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <div align="center">
                <img src="{{ url_for('static', filename='RHCA_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>
    </div>
    <div class="col-1"></div>
</div>
{% include "footer.html" %}