{% include "header.html" %}

<div align="center">
    <p class="projecttitle"><font size="5" face="Avenir" color=#004080>Something Blue Consulting: Improving Communications Between Organizations</font></p>
    <hr color=#DDEAEE>
</div>
<div class="projectcontent">
    <p><b>Role:</b> Project Manager</p>
    <p><b>Skills Used:</b> Contextual Inquiries, Literature Reviews, Affinity Walls, Public Speaking, Google Drive</p>
    <p><b>Summary</b> </br>Something Blue Consulting was a team-based course project. We were given three months
        to work on this project with a client. Our client approached us with a desire to update and increase their social media usage.
        After coducting six different contextual inquiries, my team and I organized the interview findings and our background research
        information, we put together an affinity wall. Through this analysis, we further identified additional issues that the organization was facing and brainstormed solutions
        around these newly identified issues. In the end, we suggested two solutions, one being the most practical and another being
        the ideal solution for the orgnaization. Given the nature of the organization, both solutions consisted of minimal technology
        usage, and instead focused on changing the way information was communicated between our client and another organization on campus.</p>
    <br>
    <p><b>Research Process</b></p>
    <div align="center">
        <img src="{{ url_for('static', filename='501_researchprocess.png') }}" alt="Image Unavailable" width="75%">
    </div>
    <p>We began </p>

</div>

{% include "footer.html" %}