{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">Something Blue Consulting: Communications Between Organizations</p>
        <hr color=#AEC0D9>
    </div>
    <div>
        <div class="col-1"></div>
        <div class="col-10 projectcontent">
            <br>
            <p><b>Role:</b> Researcher and Project Manager</p>
            <p><b>Skills Used:</b></br>Contextual Inquiries</br>Affinity Walls</br>Literature Reviews</br>Public Speaking</br>Google Drive</p>
            <p><b>Summary</b> </br>Something Blue Consulting was a team-based course project. We were given three months
                to work on this project with a client. Our client approached us with a desire to update and increase their social media usage.
                After coducting six different contextual inquiries, my team and I organized the interview findings and our background research
                information, we put together an affinity wall. Through this analysis, we further identified additional issues that the organization was facing and brainstormed solutions
                around these newly identified issues. In the end, we suggested two solutions, one being the most practical and another being
                the ideal solution for the orgnaization. Given the nature of the organization, both solutions consisted of minimal technology
                usage, and instead focused on changing the way information was communicated between our client and another organization on campus.</p>
            <hr color=#AEC0D9>
            <p><b>Research Process</b></p>
            <div align="center">
                <img src="{{ url_for('static', filename='501_researchprocess.png') }}" alt="Image Unavailable" width="100%">
            </div>
            <!--Beginning of first stage of research process-->
            <p>
                <b>1.</b> Background Research</br></p>
            <div align="center">
                <img src="{{ url_for('static', filename='501_Research.png') }}" alt="Image Unavailable" width="100%">
            </div>
            <p>
                We began the project by conducting background research with our client and through literature review. Our intitial meeting allowed
                us to understand the problem scope from our client's perspectives. We learned about our client's expectations and the
                project goal of improving their social media and outreach strategy. We also learned that the organization itself and all staff
                members at the organization had minimal experiences with utilizing social media as a form of communication. It was also revealed
                during our initial meeting that some staff members were resistant to using social media in general. Specifically, we found that
                the organization mainly used email and website as the main forms of communication, with very small number of users on social media.
                To help us understand more about this specific topic, we each wrote a background research report on different aspects of
                the project, for example, I focused on researching the user type and characteristics on current social media platforms.
                <br><br><font color="#004080"><b>Outcome</b>: Better understanding of problem scopes and served as
                the basis and fundamental of question development for contextual inquiry.</font>
            </p>
            <br>
            <!--Beginning of second stage of research process-->
            <p><b>2.</b> Contextual Inquiry</br></p>
            <div align="center">
                <img src="{{ url_for('static', filename='501_interviewees.png') }}" alt="Image Unavailable" width="100%">
            </div>
            <p>
                We conducted six interviews with stakeholders over the next five weeks. Interviews were conducted at interviewee's workplace in order for us to observe their work environment
                and their routine at work. Each interview was between 60 to 90 minutes, and was consisted of one primary interviewer and one notetaker.
                Interview questions were developed specific to each job role our interviewees held, with the exception of general questions.
                We decided to vary the key questions for each job role because we wanted to get a more thorough understanding of their
                perspectives and experiences with social media and outreach at the organization itself. Examples of general questions include:
                <ul>
                    <li>Briefly describe your role at work.</li>
                    <li>How long have you been working in the organization?</li>
                    <li>When was the last time you use social media for personal reasons?</li>
                </ul>
                Interviews were recorded in audio forms with interviewees' permissions, and participant codes were assigned to each interviewee to
                keep confidentiality. These six contextual inquiries included observations of workplace, demonstration of tasks involving the system
                (in this case, various social media platforms), and semi-structured interviews with mostly open-ended questions.
                <br><br><font color="#004080"><b>Outcome</b>: Specific instances and personal experiences of each interviewee with social media
                platforms. Observations were made regarding interviewees' work routine. For example, we found that one staff member still used
                flip-phone and was overloaded with administrative tasks along with communication on social media. This also allowed us to move
                forward to synthesize and compile the data for our next step.</font>
            </p>
            <br>
            <!--Beginning of third stage of research process-->
            <p><b>3.</b> Qualitative Data Analysis </br></p>
            <div align="center">
                <img src="{{ url_for('static', filename='501_affinitywall.jpg') }}" alt="Image Unavailable" width="60%">
            </div>
            <p>
                After collecting interview data from our interviewees, we spent a total of 6 hours on putting together an affinity wall. We first
                went through a series of interpretation sessions of the six contextual inquiries, making notes of specific quotes and findings.
                We called these notes affinity notes, in preparation for the affintiy wall. We chose affinity wall for data analysis because it allowed us to string our findings together through as a form visualization. Putting
                together an affinity wall also allowed us to identiy specific issues that the organization was facing other than the problem that
                was originally identified by our client. We first wrote these affinity notes. In the end, we had a total of over 250 post-it notes and 4 main categories for findings.
            <br><br><font color="#004080"><b>Outcome</b>: Four major findings about our client's intra-organization commuincation, improper workload-
                distribution, and lack of personal social media experiences. </font>
            </p>
            <br>
            <!--Beginning of last stage of research process-->
            <p><b>4.</b> Brainstorming Solution </br></p>
            <p>
                The final phase of this project was to devlier suggestions and solutions in the form of written report and oral presentation.
                My team and I put together a 30 pages written report, detailing the most practical and the most ideal solutions we developed.
                We utilized a brainstorming matrix and assigned scores for each solutions for different factors we considered as important. These
                factors include budget, human resources, novelty, and technical skill level. The ideal solution we provided to our client was
                to hire a full-time professional commuincation lead, who would be reponsible to update social media on a regular basis. On the
                other hand, we suggested a more practical solution, which was to partner up with another organization, who had already offered
                assistance to improve our client's social media and outreach strategy.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% include "footer.html" %}