{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">Investigating Criteria and Techniques for Increasing Password Security and Memorability for Users</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <!--<br>
        <p><b>Role:</b> Primary Investigator and Researcher </p>
        <p>
            <b>Skills Used:</b></br>Online Survey Design</br>Implicit Memory Test Design</br>Usability Testing</br>Literature Review</br>Qualtrics
            </br>SPSS</br>Excel
        </p>
        <p><b>Summary:</b> Today, passwords are a commonly used strategy for protecting online accounts. These
        accounts may include sensitive personal information such as financial statements in a
        bank account, or may include nearly no identifying information such as that in a gaming
        application on a phone. Yet, to increase the security of such accounts, users are often
        required to create passwords that comply with strict criteria (e.g., a minimum of one
        upper case, one lower case, one special character, one number, and a minimum character
        length). Using a self-reported questionnaire, Shay et al. (2010) found that when users
        were required to create passwords under such strict requirements, they often reused old
        passwords with little or no modifications. Users also reported to be more likely to forget
        passwords created under such restrictions because of the uncommon combinations used
        for "high security" passwords. With a memory recall test and a self-reported
        questionnaire, this study investigated the effect of three different password composition
        requirements on users' recall of the passwords they generated, their general attitudes, self-predicted
        memorability, and perceived security for the requirements. Results indicated
        that actual memorability was not affected by the choice of password composition
        requirement, but participants perceived each requirement differently. This study also
        explored other areas of interest, such as password composition strategies.</p>-->
        <p><b>Research Process</b></p>
        <div align="center">
                <img src="{{ url_for('static', filename='thesis_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>
        <p>
            <b>1.</b> Background Research</br></p>
            <div align="center">
                <img src="{{ url_for('static', filename='thesis_litbucket.png') }}" alt="Image Unavailable" width="80%">
            </div>
            <p>
                I was interested in exploring users' general attitudes toward different password generation requirements that current exist.
                Specifically, I noticed that many people I knew were constantly experiencing frustration with login failures in everyday life.
                And yet, they believe that a complex password with special characters would better protect their personal information, even when they fail to remember the passwords.
                </br><br>
                Before deciding on a specific research question, the first step was to conduct literature review.
                The purpose was the literature review was to explore studies and research that had already been conducted in the past regarding passwords.
                To begin, I created a literature bucket using Microsoft Excel to organize all the findings from my literature review.
                Throughout the process, i reviewed empirical articles that compared college students' habits and routines during password generation and management.
                Although I had presumptions of what the problem might be, conducting literature review allowed me to narrow down the research question
                to college students and various common password management methods (e.g., writing down a password, sharing password, reusing password).
                <br><br><p align="left"><font size="4" color="gray">
                    Questions borrowed from past studies include:
                        <ul>
                            <li>Select all that apply. What do you do to store a newly created password?</li>
                            <li>Do you have a set of passwords you reuse in different places?</li>
                            <li>Select all that apply. What strategy do you usually use when you are asked to create a password?</li>
                        </ul>
                    </font></p>
                <br><font color="#004080"><b>Outcome</b>: Better understanding of prior and current research on password generation and management.
                Surveys that had already been validated by other researchers allowed me to develop my own questionnaire more thoroughly
                and accurately. In addition, these surveys provided the opportunity for data comparison during my analysis phase.</font>
            </p>
            <br>
            <b>2.</b> Data Collection</br></p>
            <div align="center">
                <img src="{{ url_for('static', filename='thesis_questionnaire.png') }}" alt="Image Unavailable" width="70%">
            </div>
            <p>
                After literature review, it was time to develop my own research methods. I identified three major variables that I wanted
                to measure: <b>(1) password generation strategy</b>, <b>(2) password management strategy,</b> and <b>(3) attitudes
                toward different password generation requirements</b>.
                I had originally chose to use a questionnaire using both new questions I developed and questions borrowed from past studies.
                Using Likert Scale, I was able to assess students' attitudes toward different authentication generation requirement.
                To measure survey respondent fatigue, I included three attention checks in the questionnaire, such as one that asked the
                respondents to calculate "2+3".
            </p>
            <div align="center">
                <img src="{{ url_for('static', filename='thesis_implicitmemory.png') }}" alt="Image Unavailable" width="70%">
                <img src="{{ url_for('static', filename='thesis_implicitmemory2.png') }}" alt="Image Unavailable" width="70%">
            </div>
            <p>
                However, after conducting two pilot testing and discussing with my advisor, I decided to add in an extra variable:
                <b> (4) ability to recall password for different password generation requirement</b>. The reason for this change is to use
                a more objective measurement to draw connections between users' memory and the complexity of password generation requirements.
                Specifically, I identified three major common password generation requirements based on research conducted in the
                cyber security field:
                <ul>
                    <li>Complex character constraints with short length requirement</li>
                    <li>Little to no constraints with short length requirement</li>
                    <li>Little to no constraints with long length requirement</li>
                </ul>
                With the creation of this new variable, I moved on to develop an implicit memory test that was incorporated into the
                original questionnaire. The memory test asked users to create three <i>unique</i> passwords under each password generation
                requirement and recall the three passwords at the end of the testing session.
                </br><br>
                The process for a testing session typically involved the following steps:
                <div align="center">
                    <img src="{{ url_for('static', filename='thesis_testing.png') }}" alt="Image Unavailable" width="100%">
                </div>
                First, users sign a consent and release form to protect their rights of privacy and confidentiaility. Then, they complete
                the first part of the implicit memory test. After that, users complete the questionnaire by either answering multiple choice
                questions or selecting a rating on Likert Scales. Upon their completion of the questionnaires, they are then asked to recall
                the three passwords they create at the beginning of the testing. This concludes the second part of the memory test.
                </br><br>
                All participation was voluntary and recruitment was done through the university's psychological research system. Participants
                were undergraduate and graduate students at San Jose State University, and their identities were kept anonymous.
            <br><br><font color="#004080"><b>Outcome</b>: In the span of 1.5 months, I collected over 180 responses.
            Iterations of the questionnaire and the addition of a new variable to the study allowed me to develop a better questionnaire
            and validate the measurements in my study.</font>
            </p>
        <br>
            <!--Beginning of third stage of research process-->
        <p>
            <b>3.</b> Data Analysis</br></p>
            <p>
                To analyze the data I collected, I used hypothesis testing on SPSS
                and generated charts and graphs using Excel. I also performed additional statistical analysis using Excel to verify the
                results. There were six hypotheses in total:
                <ul>
                    <li>When the only composition requirement is a minimum length, shorter passwords will be better remembered than
                    longer passwords.</li><br>
                    <li>When the minimum lengths between two passwords are the same, passwords without special character requirements
                    will be better remembered than passwords with the requirements.</li><br>
                    <li>Long passwords without special composition requirements will be better remembered than short passwords with such
                    composition requirements.</li><br>
                    <li>Passwords with special character requirements will be rated as more annoying to generate than passwords without such requirements.</li><br>
                    <li>Passwords with special character requirements will be rated as more difficult to remember than passwords without such requirements.</li><br>
                    <li>Passwords with special character requirements will be rated as more secure than passwords without such requirements.</li>
                </ul>
                Unfortunately, the first three hypotheses that focused on memorability were not found to be statistically significant.
                In contrast, the three hypotheses that focused on self-report measurements were found to be statistically significant,
                which aligned with past research's findings. Particularly, users found complex passwords to be more secure but also more annoying and difficult
                to remember.</br><br><br>
                <div align="center">
                <img src="{{ url_for('static', filename='thesis_sampleresult.png') }}" alt="Image Unavailable" width="60%">
                </br><i>The image above shows an example of the data analysis. It calculated the self-perceived memorability of each password
                    based on different password generation requirements.</i>
                </div>
                <br><br>
                However, an interesting observation was between the perceived memorability and the actual memorability. It seemed that
                although users believed a simpler but longer password would be more difficult to remember, the majority of users in this study
                successfully and accurately recalled all three passwords they generated at the beginning of the study.
                Currently, research in the cyber security industry claims that a simple and long password would be more secure, but many users,
                including major companies, believe the otherwise. This finding suggested that perhaps it would be worthwhile to look into <i>why</i>
                we have not listened to the research conducted in cyber security.
            </p>
        <br>
        <div align="center">
                <a href="{{ url_for('static', filename='FinalThesisDraft.pdf') }}" download><button class="button"> Download Paper</button></a>
        </div>
        <br>
        <hr color=#AEC0D9>
        <div class="clear"></div>
    </div>
    <div class="col-1"></div>
</div>
    <!--<p><b>Citation:</b> Wong, N. (2017). <i>Investigating Criteria and Techniques for Increasing Password Security and Memorability for Users.</i> (Honors thesis).</p>-->

{% include "footer.html" %}