{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">Investigating Criteria and Techniques for Increasing Password Security and Memorability for Users</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <br>
        <p><b>Role:</b> Primary Investigator and Researcher </p>
        <p>
            <b>Skills Used:</b></br>Online Survey Design</br>Implicit Memory Test Design</br>Usability Testing</br>Literature Review</br>Qualtrics
            </br>SPSS</br>Excel
        </p>
        <p><b>Summary:</b> Today, passwords are a commonly used strategy for protecting online accounts. These
        accounts may include sensitive personal information such as financial statements in a
        bank account, or may include nearly no identifying information such as that in a gaming
        application on a phone. Yet, to increase the security of such accounts, users are often
        required to create passwords that comply with strict criteria (e.g., a minimum of one
        upper case, one lower case, one special character, one number, and a minimum character
        length). Using a self-reported questionnaire, Shay et al. (2010) found that when users
        were required to create passwords under such strict requirements, they often reused old
        passwords with little or no modifications. Users also reported to be more likely to forget
        passwords created under such restrictions because of the uncommon combinations used
        for "high security" passwords. With a memory recall test and a self-reported
        questionnaire, this study investigated the effect of three different password composition
        requirements on users' recall of the passwords they generated, their general attitudes, self-predicted
        memorability, and perceived security for the requirements. Results indicated
        that actual memorability was not affected by the choice of password composition
        requirement, but participants perceived each requirement differently. This study also
        explored other areas of interest, such as password composition strategies.</p>
        <br>
        <div align="center">
                <a href="{{ url_for('static', filename='FinalThesisDraft.pdf') }}" download><button class="button"> Download Paper</button></a>
        </div>
        <br>
        <div class="clear"></div>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <div align="center">
                <img src="{{ url_for('static', filename='thesis_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>
    </div>
    <div class="col-1"></div>
</div>
    <!--<p><b>Citation:</b> Wong, N. (2017). <i>Investigating Criteria and Techniques for Increasing Password Security and Memorability for Users.</i> (Honors thesis).</p>-->

{% include "footer.html" %}