{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">VECTR: Understanding Human Cognition in Computer Network Defense</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <!--<br>
        <p><b>Role:</b> Research Assistant</p>
        <p>
            <b>Skills Used:</b></br>Literature Review</br>Concept Mapping</br>Card Sorting</br>Survey Design and Analysis</br>SPSS
            </br>Microsoft Excel</br>
        </p>
        <p><b>Summary:</b> This is an ongoing NSF funded research study at San Jose State University, which I participated
            as a research assistant when I was an undergraduate student at the university. This study is led by Dr. David Schuster
            and his lab: Virtual Environments, Cognition, & Training Research Laboratory (VECTR). The current research focuses
            on developing solution for problems in the cyber security field through the perspective of human factors. The funded study
            particularly focuses on cyber network defense professionals and the relationship between human decision making models and their
            daily work. </p>
        <br>
        <div class="clear"></div>-->
        <div align="center">
                <a href="https://www.vectrlab.net/research.php?area=cybersecurity" target="_blank"><button class="button">Visit Website</button></a>
        </div>
        <br>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <!--<div align="center">
                <img src="{{ url_for('static', filename='RHCA_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>-->
    </div>
    <div class="col-1"></div>
</div>
{% include "footer.html" %}