{% include "header.html" %}

<section class="projecttitles">
    <div class="max">
        <h1>The Use of Virtual Machines in Learning About Humans Behaviors on Cyber Security</h1>
    </div>
</section>

<div class="max">
    <section class="projectcontent">
        <h3>This page is currently being updated.</h3>
        <h3>Research Process</h3>
        <form action="{{ url_for('static', filename='SPARC_Poster_2016.pdf') }}"><button class="button-accordion">Download Poster</button>/form>
    </section>
</div>

{% include "footer.html" %}