{% include "header.html" %}

<div class="max">
    <div align="center">
        <p class="projecttitle">The Use of Virtual Machines in Learning About Humans Behaviors on Cyber Security</p>
        <hr color=#DDEAEE>
    </div>
    <div class="col-1"></div>
    <div class="col-10 projectcontent">
        <!--<br>
        <p><b>Role:</b>Primary Investigator</p>
        <p>
            <b>Skills Used:</b></br>Literature Review</br>Experiment Design</br>Poster Design</br>Public Speaking
        </p>
        <p><b>Summary:</b> Cyber security is often thought to be a topic in the computer science field.
            However, it involves more than just the codes and the framework; a secured network also requires
            users to be aware of the security situation and to take action. A common example is when the system
            alerts the users of firewall expiration through a popup notification. However, it is often difficult
            to know whether these alerts are influential in users’ decision-making regarding cyber security. One
            way to explore the extent they are influenced is to observe their behaviors when these alerts are presented
            to them. By using tools such as virtual machines, researchers can perform a study without harming the host
            system (the computer’s physical hard drive) while documenting users’ behaviors. These tools will also provide
            a virtual environment that stimulates a real computer setup. Virtual machines can also help researchers to
            understand more about how different factors (e.g., cost, time, cognitive capacity) affect users’ decisions
            in making cyber security choices. While this presentation focuses on how virtual machine technology can support
            research on human decision-making in cyber security, future studies can also utilize this technology to further
            improve the functionality of technology by incorporating human physical needs and their psychological needs. </p>
        <br>
        <div class="clear"></div>-->
         <div align="center">
                <a href="{{ url_for('static', filename='SPARC_Poster_2016.pdf') }}" download><button class="button"> Download Poster</button></a>
         </div>
        <br>
        <hr color=#AEC0D9>
        <p><b>Research Process</b></p>
        <!--<div align="center">
                <img src="{{ url_for('static', filename='RHCA_researchprocess.png') }}" alt="Image Unavailable" width="100%">
        </div>-->
    </div>
    <div class="col-1"></div>
</div>
{% include "footer.html" %}