{% include "header.html" %}

<section id="tagline">
    <div class="max">
        <h1>Hi, I am Novia Wong!</h1>
        <h3 id="tagline_text">UX Research<br>Designer<br>90% Extrovert</h3>
    </div>
</section>


<section id="experiences">
    <div class="max">
        <h3>Experiences</h3>
        <a href="{{ url_for('static', filename='Novia_Resume.pdf') }}" target="_blank"><button class="button-light">Download Resume</button></a>
        <!--<img src="{{ url_for('static', filename='') }}" alt="My undergraduate was at San Jose State University, where I earned a Bachelor of Science in Psychology, worked as a behavioral therapist, and served as a research assistant at a cyber security lab. I am currently going to the University of Michigan Ann Arbor, and I am part of the School of Information. There, I worked as an instructional designer, an information mentor, and I focus on UX Research and Design as part of my Masters program.">-->
    </div>
</section>

<section id="aboutme">
    <div class="max">
        <h3>About</h3>
        <figure id="profilepic" class="col-3">
            <img src="{{ url_for('static', filename='PsiChiSuit.png') }}" alt="Image of Novia">
        </figure>
        <p>
            I am a first year master student at University of Michigan School of Information, studying user experience research and design. My passion is deeply rooted in psychology and advancing technology for the special needs population. When I worked as a therapist, I realized the importance of user-friendly and accessible technology for therapists, parents, as well as children of special needs. That being said, I hope to improve the way we communicate and educate through technology that is accessible and intuitive for all. <br>While I am not working on school work or projects, I like to play the piano, bake, build robots, and sketch and doodle. I also love making new friends and learning something new everyday!
        </p>
    </div>
</section>


{% include "footer.html" %}
